.dashboard
  .dashboard--title= t('admins.index.dashboard')
  = link_to t('admins.index.sidekiq'), sidekiq_web_path
  = t('admins.index.total_managers', managers_count: Manager.count)
  = link_to t('admins.index.view_managers'), managers_admins_path
  = t('admins.index.total_students', students_count: Student.count)
  = link_to t('admins.index.view_students'), students_admins_path
  = t('admins.index.total_posts', posts_count: Post.count)
  = link_to t('admins.index.view_posts'), posts_admins_path
  