- if @managers.present?
  %table.table
    %thead
      %tr
        %th{ scope: 'col' } #
        %th{ scope: 'col' }= t('admins.managers.first_name')
        %th{ scope: 'col' }= t('admins.managers.last_name')
        %th{ scope: 'col' }= t('admins.managers.email')
        %th{ scope: 'col' }= t('admins.managers.created_at')
        %th{ scope: 'col' }= t('admins.common.actions')
    %tbody
      - @managers.each do |manager|
        %tr
          %td{ scope: 'row' }= manager.id
          %td{ scope: 'row' }= manager.first_name
          %td{ scope: 'row' }= manager.last_name
          %td{ scope: 'row' }= manager.email
          %td{ scope: 'row' }= manager.created_at
          %td{ scope: 'row' }
            = link_to t('admins.common.edit'), edit_manager_path(manager)
            |
            = link_to t('admins.common.remove'),
                      manager_path(manager),
                      method: :delete,
                      data: { confirm: t('admins.common.sure') }
  = will_paginate @managers
- else
  %h1.mt-5.text-center= t('admins.managers.no_managers')
