- if @posts.present?
  %table.table
    %thead
      %tr
        %th{ scope: 'col' } #
        %th{ scope: 'col' }= t('admins.posts.owner')
        %th{ scope: 'col' }= t('admins.posts.title')
        %th{ scope: 'col' }= t('admins.posts.body')
        %th{ scope: 'col' }= t('admins.posts.important')
        %th{ scope: 'col' }= t('admins.posts.created_at')
        %th{ scope: 'col' }= t('admins.common.actions')
    %tbody
      - @posts.each do |post|
        %tr
          %td{ scope: 'row' }= post.id
          %td{ scope: 'row' }= link_to post.manager.email, manager_path(post.manager)
          %td{ scope: 'row' }= post.title
          %td{ scope: 'row' }= post.body
          %td{ scope: 'row' }= post.important?
          %td{ scope: 'row' }= post.created_at
          %td{ scope: 'row' }
            = link_to t('admins.common.edit'), edit_manager_post_path(post.manager, post)
            |
            = link_to t('admins.common.remove'),
                      manager_post_path(post.manager, post),
                      method: :delete,
                      data: { confirm: t('admins.common.sure') }
  = will_paginate @posts, previous_label: t('common.previous'), next_label: t('common.next')
- else
  %h1.mt-5.text-center= t('admins.posts.no_posts')
