%span.cursor-pointer.js-wanna-upload= t('admins.students.upload_more')

.mt-2.hidden.js-wanna-upload-form
  = form_tag(upload_csv_admins_path, multipart: true) do
    = file_field_tag 'students_csv'
    = submit_tag t('admins.students.submit'), class: 'js-submit-upload-csv'

- if @students.present?
  %table.table
    %thead
      %tr
        %th{ scope: 'col' } #
        %th{ scope: 'col' }= t('admins.students.first_name')
        %th{ scope: 'col' }= t('admins.students.last_name')
        %th{ scope: 'col' }= t('admins.students.email')
        %th{ scope: 'col' }= t('admins.students.student_id')
        %th{ scope: 'col' }= t('admins.students.dorm_number')
        %th{ scope: 'col' }= t('admins.students.created_at')
        %th{ scope: 'col' }= t('admins.common.actions')
    %tbody
      - @students.each do |student|
        %tr
          %td{ scope: 'row' }= student.id
          %td{ scope: 'row' }= student.first_name
          %td{ scope: 'row' }= student.last_name
          %td{ scope: 'row' }= student.email
          %td{ scope: 'row' }= student.student_id
          %td{ scope: 'row' }= student.dorm_number
          %td{ scope: 'row' }= student.created_at
          %td{ scope: 'row' }
            = link_to t('admins.common.edit'), edit_student_path(student)
            |
            = link_to t('admins.common.remove'),
                      student_path(student),
                      method: :delete,
                      data: { confirm: t('admins.common.sure') }
  = will_paginate @students, previous_label: t('common.previous'), next_label: t('common.next')
- else
  %h1.mt-5.text-center= t('admins.students.no_students')
