- if @students.present?
  .objects-list
    - @students.each do |student|
      = link_to student_path(student), class: 'objects-list--item' do
        .objects-list--item-header
          .-image{ style: student.avatar_url ? "background-image: url(#{student.avatar_url})" : '' }
          .-name
            .-name-item= t('students.index.first_name', name: student.first_name)
            .-name-item= t('students.index.last_name', name: student.last_name)
        .objects-list--item-footer
          .-info-data= t('students.index.email', email: student.email)
          .-info-data= t('students.index.student_id', student_id: student.student_id)
          .-info-data= t('students.index.dorm', number: student.dorm_number)

  = will_paginate @students, previous_label: t('common.previous'), next_label: t('common.next')
- else
  %h1= t('students.index.no_students')
