.header
  = link_to root_path do
    .header--icon
  .header--title
    = link_to "Enter Dorm",root_path
    - if current_user
      .-role
        = link_to "as #{current_user.class}", current_user_path
    - unless current_user&.is_a? Student
      .-role
        = link_to "Mailer", notifications_path
  .header--sign-container
    - if current_student
      = link_to destroy_student_session_path, method: :delete do
        .header--sign-up= "Sign out"
    - elsif current_admin
      = link_to destroy_admin_session_path, method: :delete do
        .header--sign-up= "Sign out"
    - elsif current_manager
      = link_to destroy_manager_session_path, method: :delete do
        .header--sign-up= "Sign out"
    - else
      = link_to new_student_session_path do
        .header--sign-up= "Log in"
      = link_to new_student_registration_path do
        .header--sign-up= "Sign up"
