.header
  = link_to root_path do
    .header--icon
  .header--title
    = link_to "Enter Dorm",root_path
  .header--sign-container
    - if current_student
      = link_to destroy_student_session_path, method: :delete do
        .header--sign-up= "Sign out"
    - else
      = link_to new_student_session_path do
        .header--sign-up= "Sign in"
      = link_to new_student_registration_path do
        .header--sign-up= "Sign up"
