.header
  = link_to root_path do
    .header--icon
  .header--title
    = link_to "Enter Dorm",root_path
    - if current_user
      .-role
        = link_to t('layouts.header.as', user_class: current_user.class), current_user_path
    - unless current_user&.is_a? Student
      .-role
        = link_to t('layouts.header.timeline'), posts_path
      .-role
        = link_to t('layouts.header.mailer'), notifications_path
  .header--sign-container
    -# TODO: fix language choose
    = link_to_unless I18n.locale == :en, "En", locale: :en
    |
    = link_to_unless I18n.locale == :ua, "Ua", locale: :ua
    - if current_student
      = link_to destroy_student_session_path, method: :delete do
        .header--sign-up= t('layouts.header.sign_out')
    - elsif current_admin
      = link_to destroy_admin_session_path, method: :delete do
        .header--sign-up= t('layouts.header.sign_out')
    - elsif current_manager
      = link_to destroy_manager_session_path, method: :delete do
        .header--sign-up= t('layouts.header.sign_out')
    - else
      = link_to new_student_session_path do
        .header--sign-up= t('layouts.header.log_in')
      = link_to new_student_registration_path do
        .header--sign-up= t('layouts.header.sign_up')
