.header
  = link_to root_path do
    .header--icon
  .header--title
    = link_to "Enter Dorm", root_path
    - if current_user
      .-role
        = link_to t('layouts.header.as', user_class: current_user.class), current_user_path

    .dropdown--container
      .dropdown--title= t('layouts.header.menu')
      .dropdown--content
        = link_to t('layouts.header.timeline'), posts_path
        - if current_user
          = link_to t('layouts.header.students'), students_path
          = link_to t('layouts.header.rooms'), rooms_path
          = link_to t('layouts.header.chat'), chats_path
          - unless current_user.is_a? Student
            = link_to t('layouts.header.mailer'), notifications_path
        
  .header--sign-container
    .header--locale
      = link_to_unless I18n.locale == :en, "En", locale: :en
      |
      = link_to_unless I18n.locale == :ua, "Ua", locale: :ua

    - if current_user
      = link_to destroy_user_session_path, method: :delete do
        .header--sign-up= t('layouts.header.sign_out')
    - else
      .header--sign-up{ data: { modal: 'enter_modal' } }= t('layouts.header.log_in')
