.home--container
  .home--text= t('home.lost_id')

  .search--container.js-search
    = text_field_tag :q, params[:q], class: 'search--input js-search-input', placeholder: t('home.find_by')
    .search--btn.js-search-btn= t('home.find_students')
.home--posts
  = t('home.important_news')
  - @posts.each do |post|
    .home--post-item
      .post-title= post.title
      .post-body= post.body
